@page "/gametest"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable
@using PacMan.Shared;
@using PacMan.Shared.Models;
@using PacMan.Shared.Enums;

<PageTitle>Game test</PageTitle>

@if (gameState == EnumGameState.Initializing)
{
    @hubConnection.State

    <button @onclick="Start" disabled="@(!IsConnected)">Connect?</button>
}

@if (gameState == EnumGameState.Starting)
{
    <p>Game is starting...</p>
}

@if (gameState == EnumGameState.Running)
{
    <p>Game screen:</p> // gonna make a table once everythings working
    <p>Tick number: @ticknumber</p>


}
<br />
<button @onclick="async () => await ChangeDirection(EnumDirection.Up)">↑</button><br />
<button @onclick="async () => await ChangeDirection(EnumDirection.Left)">←</button>
<button @onclick="async () => await ChangeDirection(EnumDirection.Right)">←</button>
<br />
<button @onclick="async () => await  ChangeDirection(EnumDirection.Down)">↓</button>
<br />



@code {
    private HubConnection? hubConnection;
    private List<string> connectedIds = new List<string>();
    private int ticknumber = 0;
    EnumDirection playerDirection = EnumDirection.Right;
    private EnumGameState gameState = EnumGameState.Initializing;

    private StateModel stateModel = new (EnumGameState.Initializing, new ());


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<StateModel>("Tick", OnTickAsync);

        hubConnection.On<EnumGameState>("Starting", state =>
        {
            Console.WriteLine(state);
            gameState = state;
            StateHasChanged();
        });

        try
        {
            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        StateHasChanged();
    }

    private async Task Start()
    {
        if (hubConnection is not null)
        {
            try
            {
                if (hubConnection.State == HubConnectionState.Disconnected)
                {
                    await hubConnection.StartAsync();
                }

                await hubConnection.InvokeAsync("OnStart");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message + " (Start())");
            }
        }
        StateHasChanged();
    } 

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task ChangeDirection(EnumDirection direction)
    {
        if (hubConnection is not null)
        {
            try
            {
                await hubConnection.InvokeAsync("OnChangeDirection", direction);
                Console.WriteLine(direction);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message + " (ChangeDirection())");
            }
        }
    }

    private async Task OnTickAsync(StateModel model)
    {
        stateModel = model;

        Console.WriteLine($"{model.Coordinates.First()}");

        ticknumber++;
        StateHasChanged();
    }
}